@import url("https://fonts.googleapis.com/css2?family=NTR&family=Poppins&display=swap");
.about-me {
  width: 850px;
  height: 600px;
  position: absolute;
  left: 250px;
  top: 110%;
  animation: fadeAndScale 3s;
  animation-delay: -0.2s;
  transform-origin: center bottom;
  scroll-padding-top: 400px;
}

@media only screen and (max-width: 900px) {
  #about {
    width: 400px;
    padding-left: 10%;
    padding-right: 25%;
  }

  .about-me-description {
    padding-right: 25%;
  }

  .about-me-hobbies {
    padding-right: 25%;
  }
}

@media only screen and (max-width: 400px) {
  #about {
    max-width: 200px;
    padding-left: 10%;
    padding-right: 25%;
  }

  .about-me-description {
    padding-right: 25%;
  }

  .about-me-hobbies {
    padding-right: 25%;
  }
}
.about-me-title {
  color: #fab23d;
  font-size: 38px;
  font-weight: 700;
}

.about-me-description {
  color: #ffffff89;
  font-size: 17px;
  font-family: "NTR", sans-serif;
  text-align: justify;
}

.about-me-description .highlight {
  color: #fab23d;
  font-weight: 900;
}

.about-me-recents {
  margin-top: 10px;
  color: #ffffff89;
  font-family: "NTR", sans-serif;
}

.about-me table {
  width: 550px;
  padding-left: 20px;
}

.about-me-hobbies {
  margin-top: 10px;
  color: #ffffff89;
  font-size: 17px;
  font-family: "NTR", sans-serif;
  text-align: justify;
}

::marker {
  content: ">    ";
  color: #fab23d;
}

img {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 115%;
  right: 325px;
  border-radius: 10px;
  animation: fadeAndScale 3s;
  animation-delay: -0.2s;
  max-width: 300px;
  box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
  border: none;
}

@media only screen and (max-width: 900px) {
  img {
    max-width: 200px;
    visibility: hidden;
  }
}
