@import url("https://fonts.googleapis.com/css2?family=NTR&family=Poppins&display=swap");
.about-me {
  width: 35%;
  height: 600px;
  position: absolute;
  left: 15%;
  top: 110%;
  animation: fadeAndScale 3s;
  animation-delay: -0.2s;
  transform-origin: center bottom;
  scroll-padding-top: 400px;
}

.about-me-title {
  color: #fab23d;
  font-size: 38px;
  font-weight: 700;
}

.about-me-description {
  color: #ffffff89;
  font-size: 17px;
  font-family: "NTR", sans-serif;
  text-align: justify;
}

.about-me-description .highlight {
  color: #fab23d;
  font-weight: 900;
}

.about-me-recents {
  margin-top: 10px;
  color: #ffffff89;
  font-family: "NTR", sans-serif;
}

.about-me table {
  width: 100%;
  padding-left: 20px;
}

.about-me-hobbies {
  margin-top: 10px;
  color: #ffffff89;
  font-size: 17px;
  font-family: "NTR", sans-serif;
  text-align: justify;
}

::marker {
  content: ">    ";
  color: #fab23d;
}

img {
  width: 30%;
  height: 300px;
  position: absolute;
  top: 115%;
  margin-left: 60%;
  border-radius: 10px;
  animation: fadeAndScale 3s;
  animation-delay: -0.2s;
  max-width: 300px;
  box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
  border: none;
}

@media (max-width: 900px) {
  .profile-pic {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .profile-pic {
    display: none !important;
  }
}
