.experience {
  width: 40%;
  height: 500px;
  position: absolute;
  left: 15%;
  top: 160%;
  margin-top: 5%;
  animation: fadeAndScale 3s;
  animation-delay: -0.2s;
  transform-origin: center bottom;
  scroll-padding-top: 500px;
}

.experience-title {
  color: #fab23d;
  font-size: 38px;
  font-weight: 700;
}

.experience-description {
  color: #ffffff89;
  font-size: 17px;
  font-family: "NTR", sans-serif;
  text-align: justify;
}

.experience-tabs {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.experience-tabs input[type="radio"] {
  display: none;
  transition: color 0.15s ease-in;
}

.experience-tabs label {
  width: 300px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff89;
  text-align: center;
  font-weight: 900;
  font-size: 22px;
  order: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px 0px;
  border-radius: 99px;
  cursor: pointer;
}

.experience-tabs:hover {
  color: #fab23d;
}

.experience-tabs .tab {
  width: 100%;
  padding: 20px;
  order: 1;
  display: none;
}

.experience-tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.experience-tabs input[type="radio"]:checked + label {
  background: #fff;
  color: #fab23d;
}

.experience-tabs input[type="radio"]:hover + label {
  color: #fab23d;
}
.experience-tabs input[type="radio"]:active + label {
  box-shadow: rgba(0, 0, 0, 0.49) 0px 10px 5px 0px;
  transform: translateY(4px);
}

.experience-tabs .tab span {
  display: block;
  color: #ffffff89;
  margin-top: 10px;
}

.experience-tabs .tab h2 {
  display: block;
  color: #ffffffbc;
}

.experience-points {
  margin-top: 15px;
  color: #ffffff89;
  margin-left: 30px;
  line-height: 30px;
  justify-content: justify;
  list-style-type: none;
}

.experience-points li {
  font-family: "NTR", sans-serif;
  font-size: 22px;
  animation: fadeUpScale 1s;
  animation-delay: -0.2s;
  animation-fill-mode: forwards;
  transform-origin: center bottom;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .experience {
    margin-top: 20%;
  }
}
