.projects {
  width: 74%;
  height: 800px;
  position: absolute;
  left: 15%;
  top: 225%;
  animation: fadeAndScale 3s;
  animation-delay: -0.2s;
  transform-origin: center bottom;
  scroll-padding-top: 500px;
}

.projects-title {
  color: #fab23d;
  font-size: 38px;
  font-weight: 700;
}

.projects-description {
  color: #ffffff89;
  font-size: 17px;
  font-family: "NTR", sans-serif;
  text-align: justify;
}

.mechanical-projects {
  font-size: 25px;
  display: flex;
  position: absolute;
  padding-left: 250px;
  top: 75px;
  color: #ffffffbc;
}

.software-projects {
  font-size: 25px;
  display: flex;
  position: absolute;
  top: 75px;
  left: 60%;
  color: #ffffffbc;
}

.card-container {
  margin-top: 50px;
  width: 50%;
  height: 225px;
  position: absolute;
  background-color: #ffffff2a;
  left: 225px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px 0px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.card-title {
  font-size: 19px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.card-desc {
  font-size: 14px;
  padding: 5px 15px;
  display: flex;
  justify-content: justify;
}

.card-skills {
  font-size: 12px;
  display: flex;
  justify-content: justify;
  margin-top: 25px;
  padding-left: 15px;
}

.card-container-software {
  margin-top: 50px;
  width: 130%;
  height: 225px;
  position: absolute;
  background-color: #ffffff2a;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px 0px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.software-title {
  display: flex;
  justify-content: center;
  padding-left: 40px;
}

.opening-arrow {
  display: flex;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.arrow {
  display: flex;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  transform: rotate(90deg);
  border-color: #ffffff89;
}

.opening-arrow:hover .arrow {
  cursor: pointer;
  border-color: #fab23d;
}

.opening-arrow-software:hover .arrow {
  cursor: pointer;
  border-color: #fab23d;
}

.opening-arrow-software {
  display: flex;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#opening-arrow.active {
  border-color: #fab23d;
}

#card-container.active {
  box-shadow: rgba(0, 0, 0, 0.483) 0px 10px 5px 0px;
  transform: translateY(4px);
  width: 100%;
  left: 30%;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-image: url(images\desk.jpg) !important;
}

#card-container-software.active {
  box-shadow: rgba(0, 0, 0, 0.483) 0px 10px 5px 0px;
  transform: translateY(4px);
  position: absolute;
  width: 250%;
  left: -50%;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-image: url(images\pathway.png) !important;
}

@media only screen and (max-width: 700px) {
  body {
    width: 100%;
  }
  .projects {
    margin-top: 20%;
  }
  .experience {
    margin-top: 10%;
    width: 75%;
  }
  .about-me {
    width: 75%;
    font-size: 12px;
  }
  .about-me-description {
    font-size: 12px;
  }
  .about-me-recents {
    font-size: 12px !important;
  }
  .experience-description {
    font-size: 12px;
  }
  .card-container {
    left: -10%;
  }
  .navbar {
    display: none;
  }
  .description {
    font-size: 15px;
    width: 85%;
  }
  .intro-desc {
    font-size: 20px;
  }
  .intro-title {
    font-size: 40px;
  }
  .experience-points li {
    font-size: 20px;
    line-height: 15px;
    width: 100%;
  }
  .projects-title {
    position: absolute;
    left: 0%;
  }
  .software-title {
    left: 0%;
    padding-left: 0%;
    display: block;
    justify-content: left;
  }
  .project-title {
    position: absolute;
    left: -12%;
  }
  .card-container {
    width: 80%;
    left: -20%;
  }
  .software-projects {
    position: absolute;
    padding-left: 0%;
  }
  .card-container-software {
    width: 180%;
    left: -20%;
  }
  .software-title {
    padding-left: 22%;
  }
}
