.projects {
  width: 850px;
  height: 400px;
  position: absolute;
  left: 250px;
  top: 225%;
  animation: fadeAndScale 3s;
  animation-delay: -0.2s;
  transform-origin: center bottom;
  scroll-padding-top: 500px;
}

.projects-title {
  color: #fab23d;
  font-size: 38px;
  font-weight: 700;
}

.projects-description {
  color: #ffffff89;
  font-size: 17px;
  font-family: "NTR", sans-serif;
  text-align: justify;
}
